Trying to connect to pubchem.ncbi.nlm.nih.gov when testing packages?

Hello, 
As I am trying to build openfermion for openSUSE Linux, when the test is running it tries to connect to pubchem.ncbi.nlm.nih.gov to fetch some packages?

Since building on openSUSE Linux is headless and no internet connection, the test thus fail?
Package in openSUSE must build with no connection because it must be self contain with provided dependencies. 

What package is it trying to download? I could make it as another dependency instead.

Full log here: https://build.opensuse.org/package/live_build_log/home:andythe_great/python-openfermion/openSUSE_Tumbleweed/x86_64

There are many other connection request, I give one example below.

```
[  272s] host = 'pubchem.ncbi.nlm.nih.gov', port = 443, family = 0
[  272s] type = <SocketKind.SOCK_STREAM: 1>, proto = 0, flags = 0
[  272s] 
[  272s]     def getaddrinfo(host, port, family=0, type=0, proto=0, flags=0):
[  272s]         """Resolve host and port into list of address info entries.
[  272s]     
[  272s]         Translate the host/port argument into a sequence of 5-tuples that contain
[  272s]         all the necessary arguments for creating a socket connected to that service.
[  272s]         host is a domain name, a string representation of an IPv4/v6 address or
[  272s]         None. port is a string service name such as 'http', a numeric port number or
[  272s]         None. By passing None as the value of host and port, you can pass NULL to
[  272s]         the underlying C API.
[  272s]     
[  272s]         The family, type and proto arguments can be optionally specified in order to
[  272s]         narrow the list of addresses returned. Passing zero as a value for each of
[  272s]         these arguments selects the full range of results.
[  272s]         """
[  272s]         # We override this function since we want to translate the numeric family
[  272s]         # and socket type values to enum constants.
[  272s]         addrlist = []
[  272s] >       for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
[  272s] E       socket.gaierror: [Errno -3] Temporary failure in name resolution
[  272s] 
[  272s] /usr/lib64/python3.8/socket.py:918: gaierror
```

It looks like you have pubchem installed so the test attempts to use the pubchem package to download the geometry of water.  

Here's the [culprit](https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/utils/_pubchem_test.py). 

There is currently a pytest skip if the package is not detected.  Skipping logic should be expanded to include when a connection to the NIH server can't be made.

I pass the --ignore flag to pytest to src/openfermion/utils/_pubchem_test.py and the failure is gone now, but there are other failures that look for internet connection I am not sure about. What is the culprit test file for this one?

Thanks.

```
[  432s] =================================== FAILURES ===================================
[  432s] _____________ ExamplesTest.test_can_run_examples_jupyter_notebooks _____________
[  432s] 
[  432s] self = <urllib.request.HTTPSHandler object at 0x7f8524305dc0>
[  432s] http_class = <class 'http.client.HTTPSConnection'>
[  432s] req = <urllib.request.Request object at 0x7f852432e3a0>
[  432s] http_conn_args = {'check_hostname': None, 'context': None}
[  432s] host = 'pubchem.ncbi.nlm.nih.gov'
[  432s] h = <http.client.HTTPSConnection object at 0x7f8524305df0>
[  432s] 
[  432s]     def do_open(self, http_class, req, **http_conn_args):
[  432s]         """Return an HTTPResponse object for the request, using http_class.
[  432s]     
[  432s]         http_class must implement the HTTPConnection API from http.client.
[  432s]         """
[  432s]         host = req.host
[  432s]         if not host:
[  432s]             raise URLError('no host given')
[  432s]     
[  432s]         # will parse host:port
[  432s]         h = http_class(host, timeout=req.timeout, **http_conn_args)
[  432s]         h.set_debuglevel(self._debuglevel)
[  432s]     
[  432s]         headers = dict(req.unredirected_hdrs)
[  432s]         headers.update({k: v for k, v in req.headers.items()
[  432s]                         if k not in headers})
[  432s]     
[  432s]         # TODO(jhylton): Should this be redesigned to handle
[  432s]         # persistent connections?
[  432s]     
[  432s]         # We want to make an HTTP/1.1 request, but the addinfourl
[  432s]         # class isn't prepared to deal with a persistent connection.
[  432s]         # It will try to read all remaining data from the socket,
[  432s]         # which will block while the server waits for the next request.
[  432s]         # So make sure the connection gets closed after the (only)
[  432s]         # request.
[  432s]         headers["Connection"] = "close"
[  432s]         headers = {name.title(): val for name, val in headers.items()}
[  432s]     
[  432s]         if req._tunnel_host:
[  432s]             tunnel_headers = {}
[  432s]             proxy_auth_hdr = "Proxy-Authorization"
[  432s]             if proxy_auth_hdr in headers:
[  432s]                 tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
[  432s]                 # Proxy-Authorization should not be sent to origin
[  432s]                 # server.
[  432s]                 del headers[proxy_auth_hdr]
[  432s]             h.set_tunnel(req._tunnel_host, headers=tunnel_headers)
[  432s]     
[  432s]         try:
[  432s]             try:
[  432s] >               h.request(req.get_method(), req.selector, req.data, headers,
[  432s]                           encode_chunked=req.has_header('Transfer-encoding'))
[  432s] 
[  432s] /usr/lib64/python3.8/urllib/request.py:1350: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>, method = 'POST'
[  432s] url = '/rest/pug/compound/name/JSON?record_type=3d', body = b'name=methane'
[  432s] headers = {'Connection': 'close', 'Content-Length': '12', 'Content-Type': 'application/x-www-form-urlencoded', 'Host': 'pubchem.ncbi.nlm.nih.gov', ...}
[  432s] 
[  432s]     def request(self, method, url, body=None, headers={}, *,
[  432s]                 encode_chunked=False):
[  432s]         """Send a complete request to the server."""
[  432s] >       self._send_request(method, url, body, headers, encode_chunked)
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:1240: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>, method = 'POST'
[  432s] url = '/rest/pug/compound/name/JSON?record_type=3d', body = b'name=methane'
[  432s] headers = {'Connection': 'close', 'Content-Length': '12', 'Content-Type': 'application/x-www-form-urlencoded', 'Host': 'pubchem.ncbi.nlm.nih.gov', ...}
[  432s] encode_chunked = False
[  432s] 
[  432s]     def _send_request(self, method, url, body, headers, encode_chunked):
[  432s]         # Honor explicitly requested Host: and Accept-Encoding: headers.
[  432s]         header_names = frozenset(k.lower() for k in headers)
[  432s]         skips = {}
[  432s]         if 'host' in header_names:
[  432s]             skips['skip_host'] = 1
[  432s]         if 'accept-encoding' in header_names:
[  432s]             skips['skip_accept_encoding'] = 1
[  432s]     
[  432s]         self.putrequest(method, url, **skips)
[  432s]     
[  432s]         # chunked encoding will happen if HTTP/1.1 is used and either
[  432s]         # the caller passes encode_chunked=True or the following
[  432s]         # conditions hold:
[  432s]         # 1. content-length has not been explicitly set
[  432s]         # 2. the body is a file or iterable, but not a str or bytes-like
[  432s]         # 3. Transfer-Encoding has NOT been explicitly set by the caller
[  432s]     
[  432s]         if 'content-length' not in header_names:
[  432s]             # only chunk body if not explicitly set for backwards
[  432s]             # compatibility, assuming the client code is already handling the
[  432s]             # chunking
[  432s]             if 'transfer-encoding' not in header_names:
[  432s]                 # if content-length cannot be automatically determined, fall
[  432s]                 # back to chunked encoding
[  432s]                 encode_chunked = False
[  432s]                 content_length = self._get_content_length(body, method)
[  432s]                 if content_length is None:
[  432s]                     if body is not None:
[  432s]                         if self.debuglevel > 0:
[  432s]                             print('Unable to determine size of %r' % body)
[  432s]                         encode_chunked = True
[  432s]                         self.putheader('Transfer-Encoding', 'chunked')
[  432s]                 else:
[  432s]                     self.putheader('Content-Length', str(content_length))
[  432s]         else:
[  432s]             encode_chunked = False
[  432s]     
[  432s]         for hdr, value in headers.items():
[  432s]             self.putheader(hdr, value)
[  432s]         if isinstance(body, str):
[  432s]             # RFC 2616 Section 3.7.1 says that text default has a
[  432s]             # default charset of iso-8859-1.
[  432s]             body = _encode(body, 'body')
[  432s] >       self.endheaders(body, encode_chunked=encode_chunked)
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:1286: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>
[  432s] message_body = b'name=methane'
[  432s] 
[  432s]     def endheaders(self, message_body=None, *, encode_chunked=False):
[  432s]         """Indicate that the last header line has been sent to the server.
[  432s]     
[  432s]         This method sends the request to the server.  The optional message_body
[  432s]         argument can be used to pass a message body associated with the
[  432s]         request.
[  432s]         """
[  432s]         if self.__state == _CS_REQ_STARTED:
[  432s]             self.__state = _CS_REQ_SENT
[  432s]         else:
[  432s]             raise CannotSendHeader()
[  432s] >       self._send_output(message_body, encode_chunked=encode_chunked)
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:1235: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>
[  432s] message_body = b'name=methane', encode_chunked = False
[  432s] 
[  432s]     def _send_output(self, message_body=None, encode_chunked=False):
[  432s]         """Send the currently buffered request and clear the buffer.
[  432s]     
[  432s]         Appends an extra \\r\\n to the buffer.
[  432s]         A message_body may be specified, to be appended to the request.
[  432s]         """
[  432s]         self._buffer.extend((b"", b""))
[  432s]         msg = b"\r\n".join(self._buffer)
[  432s]         del self._buffer[:]
[  432s] >       self.send(msg)
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:1006: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>
[  432s] data = b'POST /rest/pug/compound/name/JSON?record_type=3d HTTP/1.1\r\nAccept-Encoding: identity\r\nContent-Type: application/...\r\nContent-Length: 12\r\nHost: pubchem.ncbi.nlm.nih.gov\r\nUser-Agent: Python-urllib/3.8\r\nConnection: close\r\n\r\n'
[  432s] 
[  432s]     def send(self, data):
[  432s]         """Send `data' to the server.
[  432s]         ``data`` can be a string object, a bytes object, an array object, a
[  432s]         file-like object that supports a .read() method, or an iterable object.
[  432s]         """
[  432s]     
[  432s]         if self.sock is None:
[  432s]             if self.auto_open:
[  432s] >               self.connect()
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:946: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>
[  432s] 
[  432s]     def connect(self):
[  432s]         "Connect to a host on a given (SSL) port."
[  432s]     
[  432s] >       super().connect()
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:1402: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] self = <http.client.HTTPSConnection object at 0x7f8524305df0>
[  432s] 
[  432s]     def connect(self):
[  432s]         """Connect to the host and port specified in __init__."""
[  432s] >       self.sock = self._create_connection(
[  432s]             (self.host,self.port), self.timeout, self.source_address)
[  432s] 
[  432s] /usr/lib64/python3.8/http/client.py:917: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] address = ('pubchem.ncbi.nlm.nih.gov', 443)
[  432s] timeout = <object object at 0x7f853c31d0b0>, source_address = None
[  432s] 
[  432s]     def create_connection(address, timeout=_GLOBAL_DEFAULT_TIMEOUT,
[  432s]                           source_address=None):
[  432s]         """Connect to *address* and return the socket object.
[  432s]     
[  432s]         Convenience function.  Connect to *address* (a 2-tuple ``(host,
[  432s]         port)``) and return the socket object.  Passing the optional
[  432s]         *timeout* parameter will set the timeout on the socket instance
[  432s]         before attempting to connect.  If no *timeout* is supplied, the
[  432s]         global default timeout setting returned by :func:`getdefaulttimeout`
[  432s]         is used.  If *source_address* is set it must be a tuple of (host, port)
[  432s]         for the socket to bind as a source address before making the connection.
[  432s]         A host of '' or port 0 tells the OS to use the default.
[  432s]         """
[  432s]     
[  432s]         host, port = address
[  432s]         err = None
[  432s] >       for res in getaddrinfo(host, port, 0, SOCK_STREAM):
[  432s] 
[  432s] /usr/lib64/python3.8/socket.py:787: 
[  432s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
[  432s] 
[  432s] host = 'pubchem.ncbi.nlm.nih.gov', port = 443, family = 0
[  432s] type = <SocketKind.SOCK_STREAM: 1>, proto = 0, flags = 0
[  432s] 
[  432s]     def getaddrinfo(host, port, family=0, type=0, proto=0, flags=0):
[  432s]         """Resolve host and port into list of address info entries.
[  432s]     
[  432s]         Translate the host/port argument into a sequence of 5-tuples that contain
[  432s]         all the necessary arguments for creating a socket connected to that service.
[  432s]         host is a domain name, a string representation of an IPv4/v6 address or
[  432s]         None. port is a string service name such as 'http', a numeric port number or
[  432s]         None. By passing None as the value of host and port, you can pass NULL to
[  432s]         the underlying C API.
[  432s]     
[  432s]         The family, type and proto arguments can be optionally specified in order to
[  432s]         narrow the list of addresses returned. Passing zero as a value for each of
[  432s]         these arguments selects the full range of results.
[  432s]         """
[  432s]         # We override this function since we want to translate the numeric family
[  432s]         # and socket type values to enum constants.
[  432s]         addrlist = []
[  432s] >       for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
[  432s] E       socket.gaierror: [Errno -3] Temporary failure in name resolution
[  432s] 
[  432s] /usr/lib64/python3.8/socket.py:918: gaierror
[  432s] 
[  432s] During handling of the above exception, another exception occurred:
[  432s] 
[  432s] self = <_examples_test.ExamplesTest testMethod=test_can_run_examples_jupyter_notebooks>
[  432s] 
[  432s]     def test_can_run_examples_jupyter_notebooks(self):
[  432s]         print("Examples folder ", self.examples_folder)
[  432s]         for filename in os.listdir(self.examples_folder):
[  432s]             if not filename.endswith('.ipynb'):
[  432s]                 continue
[  432s]     
[  432s]             path = os.path.join(self.examples_folder, filename)
[  432s]             notebook = nbformat.read(path, nbformat.NO_CONVERT)
[  432s]             state = {}
[  432s]     
[  432s]             for cell in notebook.cells:
[  432s]                 if cell.cell_type == 'code' and not is_matplotlib_cell(cell):
[  432s]                     try:
[  432s] >                       exec(strip_magics_and_shows(cell.source), state)
[  432s] 
[  432s] examples/_examples_test.py:86: ```

Looks like it is running the examples/_examples_test.py. which runs the [_openfermion_tutorial.ipynb](https://github.com/quantumlib/OpenFermion/blob/master/examples/openfermion_tutorial.ipynb).  Cell 14 calls pubchem to import the geometry for methane.  The correct fix for this would be to separate pubchem functionality from the main tutorial.  

> Looks like it is running the examples/_examples_test.py. which runs the [_openfermion_tutorial.ipynb](https://github.com/quantumlib/OpenFermion/blob/master/examples/openfermion_tutorial.ipynb). Cell 14 calls pubchem to import the geometry for methane. The correct fix for this would be to separate pubchem functionality from the main tutorial.

If I make pytest ignore examples/_examples_test.py the test would all fail. But it seems that there are no good way to get around this at the moment? So if I want to package this on a headless server with no internet connection is to just not test? 

Not sure what you mean the test would all fail. But I mentioned the correct fix in the previous comment.  Another option could be to set up a mock for the test.  Are you interested in taking this fix?

I think it is related to this issue. #481